/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #0f172a;
  z-index: 1000;
}

.nav-inner {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
}

/* LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.auth-user {
  color: #facc15;
  font-weight: 600;
}

.logout-btn {
  background: #ff5252;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: 0.3s;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #0f172a;

    flex-direction: column;
    gap: 14px;
    padding: 20px;

    display: none;
  }

  .nav-links.show {
    display: flex;
  }
}
